syntax: glob

/.gradle/
/gradle/
gradlew
gradlew.bat

/.idea/modules/
/.idea/libraries/
/.idea/uiDesigner.xml
/.idea/.name
/.idea/workspace.xml
/.idea/modules.xml

/.vertx/
*gen/

/.idea/compiler.xml
/output/
/modules/gateway/main/resources/static/dist/
/modules/music/main/resources/spotify-secret.json
/.idea/dictionaries/Kristjan.xml
/modules/music/main/java/eu/kyngas/grapes/music/Todo.java
/misc/known_hosts
/misc/id_rsa
/modules/node_modules/
/modules/yarn.lock
/modules/mikrotik/main/resources/mikrotik.json
/misc/ubuntu.ppk
/misc/id_rsa_ubuntu
/grapes.mv.db
/grapes.trace.db
/modules/database/main/resources/database-secret.properties
/.idea/dataSources.xml
